body#gsr.hp.vasq{
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Leningrad_Nuclear_Power_Plant_20JUL2010-4.jpg/1280px-Leningrad_Nuclear_Power_Plant_20JUL2010-4.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: bold;
 font-size: 15px;
}